* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.bio {
	
}

.card {
	border: none !important;
	box-shadow: 0 0 3px rgb(200,200,200);
}

.soft-shadow {
	box-shadow: 0 0 3px rgb(200,200,200);
}

.card-field {
	height: 400px;
	background: url("https://images.unsplash.com/photo-1615022702095-ff2c036f3360?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW5kaWFuJTIwZ2lybHxlbnwwfHwwfHw%3D&w=1000&q=80");
	background-size: cover;
	background-position: center;
	border-radius: 0 0 5px 5px;
}

.profile-table tr td {
	padding-top: 10px;
	padding-left: 15px;
	border: none;
}

.profile-table tr th {
	padding-top: 10px;
	padding-left: 15px;
	border: none;
}

.sbg-bg {
	background:#98B9F2;
}

.sbg-nav {
	background:#141B41;
}

.sbg-header {
	background:#306BAC;
}
