* {
	box-sizing: border-box;
}

.bio {
	
}

.card-field {
	height: 400px;
	background: url("https://images.unsplash.com/photo-1615022702095-ff2c036f3360?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW5kaWFuJTIwZ2lybHxlbnwwfHwwfHw%3D&w=1000&q=80");
	background-size: cover;
	background-position: center;
	border-radius: 0 0 5px 5px;
}

